<!DOCTYPE html>
<html>
<head>
  <title>Omniidentity</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>



<p>
  <strong>Beginning to use,</strong>
  <%= link_to "Create an account", "/auth/identity/register" %> or
  <%= link_to "login", "/auth/identity" %> with a password.
</p>



<%= yield %>

</body>
</html>
